<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{style.css}" rel="stylesheet">
    <title>Futóverseny Webalkalmazás</title>
</head>
<body>
    <h1>Futóverseny Webalkalmazás</h1>
    <h3>Yesilöz Halil Erkam - HF1CWA</h3>
    <ul class="button-list">
        <li>
            <a href="/runner/getRunner" class="btn btn-primary">Futók</a>
        </li>
        <li>
            <a href="/outcomes/getOutcome" class="btn btn-primary">Eredmények</a>
        </li>
        <li>
            <a href="/outcomes/getAverageTime/1" class="btn btn-primary">Átlag idő</a>
        </li>
        <li>
            <a href="/comp/getComp" class="btn btn-primary">Versenyek</a>
        </li>
    </ul>

</body>
</html>

